body {
    background-color: black;
    color: white;
}

.eventForm {
    margin-top: 20px;
    padding: 15px;
    position: absolute;
    top: 75px
}

#cards-body {
    margin-top: 20px;
}

#main-heading {
    margin-top: 5px;
    margin-right: 10px;
}

.card-footer {
    text-align: center;
}

#logo {
    height: 10px;
    width: 10px;
    size: 10px;
}

#cardTitle {

    border: none;
    height: 3px;
    /* old IE */
    background-color: #c8c8c8;
    /* Modern Browsers */
}

#newThings {

    position: absolute;
    left: 45px;
    top: 80px;
    height: 600px;
    width: 300px;
}

#editButton {

    position: absolute;
    top: 10px;
    right: 20px;
    background-size: 10px;
    border: none;
}

.vl {
    border-left: 1px solid rgb(103, 103, 103);
    height: 800px;
    position: absolute;
    left: 300px;
    top: 74px;
}

.v2 {
    border-left: 1px solid rgb(103, 103, 103);
    height: 800px;
    position: absolute;
    right: 326px;
    top: 74px;
}

/* #cardTags {
    position: absolute;
    right: 95px;
    top: 20px
} */